/* Color vars */
:root {
    --black: #151717;
    --white: #fff;
    --bgr-color: #2b3132;
    /* Text */
    --light-text: #C9C9C9;
    --link: #B2C3C7;
    /* Paddings */
    --small-pad: 10px;
    --default-pad: 20px;
    --medium-pad: 30px;
    --large-pad: 60px;
}

/* Global styles */
html {
    background-color: var(--black);
    scroll-behavior:smooth;
}
body {
    font-family: 'quattrocento', serif;
    font-size: 18px;
    color: var(--light-text);
}
h1, h2, h3, h4 {
    font-family: 'oswald', sans-serif;
    line-height: 1.25em;
    color: var(--white);
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-size: 38px;
}
h4 {
   text-transform: uppercase;
   margin: 0;
   padding: 0;
}
.link {
    position: relative;
    color: var(--link);
    text-decoration: none;
    transition: 0.3s;
}
.link:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 3px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
.link:hover {
    color: var(--white)
}
.link:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
p {
    line-height: 1.5rem;
    margin-bottom: var(--default-pad);
}
p:last-of-type {
    margin-bottom: 0;
}
main {
    padding: 60px 0;
}

/* Header */
header {
    background-color: var(--bgr-color);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--default-pad) var(--medium-pad);
}
.logo h1 {
    font-family: 'Bonheur Royale', cursive;
    color: var(--white);
    font-size: 52px;
    font-weight: 400;
}
nav ul li {
    display: inline;
    padding-right: var(--default-pad);
    font-size: 20px;
}
nav ul li:last-child {
    padding-right: 0;
}
nav ul li .link {
    color: var(--light-text);
}

/* Hero */
.hero {
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    padding: var(--default-pad) 0;
}
.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .slogan {
    text-align: right;
}
.hero .slogan h2 {
    color: var(--black);
}
.hero .slogan p {
    color: var(--bgr-color);
    margin: 5px 0 0;
}
.hero .avatar {
    background-image: url('../images/ls.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* Main */
main section {
    margin-bottom: var(--large-pad);
    padding-bottom: var(--large-pad);
    border-bottom: 2px solid var(--bgr-color);
}
main section:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
main section img {
    max-width: 100%;
}
main section figure {
    position: relative;
    border: 5px solid var(--bgr-color);
}
main section figure figcaption {
    position: absolute;
    left: 0;
    bottom: 15px;
    padding: var(--small-pad);
    background-color: var(--bgr-color);
}
main section a {
    color: var(--link);
}
#contact ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: var(--default-pad);
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--medium-pad);
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.row .row {
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 10px;
}
.column:last-of-type {
    flex: 3;
}
.row .row .column {
    flex: 1;
    margin: 20px 10px 0;
}
.row .row .column:first-of-type {
    margin-left: 0;
}
.row .row .column:last-of-type {
    margin-right: 0;
}
